<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html crossorigin="anonymous">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pasatiempo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <meta name="description" content="Pasatiempo en cascada" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header>
      Pasatiempo en cascada
    </header>

    <form id="tablero" class="Izq">
      <div id="Fila_1" class="Fila">

        <span class="casilla numero-palabra"></span>

        <div class="casilla">
          <input type="text" id="1" class="1" tabindex="1" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="2" class="1" tabindex="1" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="3" class="1" tabindex="2" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="4" class="1" tabindex="4" maxlength="1" />
        </div>
        <span class="casilla numero-palabra">1</span>
      </div>

      <div id="Fila_2" class="Fila">
        <span class="casilla numero-palabra"></span>
        <div class="casilla">
          <input type="text" id="5" class="2" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="6" class="2" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="7" class="2" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="8" class="2" maxlength="1" />
        </div>
      </div>
      <div id="Fila_3" class="Fila">
        <span class="casilla numero-palabra"></span>
        <div class="casilla">
          <input type="text" id="9" class="3" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="10" class="3" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="11" class="3" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="12" class="3" maxlength="1" />
        </div>
      </div>
      <div id="Fila_4" class="Fila">
        <span class="casilla numero-palabra"></span>
        <div class="casilla">
          <input type="text" id="13" class="4" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="14" class="4" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="15" class="4" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="16" class="4" maxlength="1" />
        </div>
      </div>
      <div id="Fila_5" class="Fila">
        <span class="casilla numero-palabra"></span>
        <div class="casilla">
          <input type="text" id="17" class="5" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="18" class="5" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="19" class="5" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="20" class="5" maxlength="1" />
        </div>
      </div>
      <div id="Fila_6" class="Fila">
        <span class="casilla numero-palabra"></span>
        <div class="casilla">
          <input type="text" id="21" class="6" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="22" class="6" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="23" class="6" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="24" class="6" maxlength="1" />
        </div>
        <span class="casilla numero-palabra">2</span>
      </div>
      <div id="Fila_7" class="Fila">
        <span class="casilla numero-palabra">3</span>
        <div class="casilla">
          <input type="text" id="25" class="7" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="26" class="7" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="27" class="7" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="28" class="7" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="29" class="7" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="30" class="7" maxlength="1" />
        </div>
      </div>
      <div id="Fila_8" class="Fila">
        <span class="casilla numero-palabra"></span>
        <div class="casilla">
          <input type="text" id="31" class="8" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="32" class="8" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text"id= "33"class="8 maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="34" class="8" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="35" class="8" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="36" class="8" maxlength="1" />
        </div>
      </div>
      <div id="Fila_9" class="Fila">
        <span class="casilla numero-palabra"></span>
        <div class="casilla">
          <input type="text" id="37" class="9" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="38" class="9" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="39" class="9" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="40" class="9" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="41" class="9" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="42" class="9" maxlength="1" />
        </div>
      </div>
      <div id="Fila_10" class="Fila">
        <span class="casilla numero-palabra"></span>
        <div class="casilla">
          <input type="text" id="43" class="10" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="44" class="10" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="45" class="10" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="46" class="10" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="47" class="10" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="48" class="10" maxlength="1" />
        </div>
      </div>
      <div id="Fila_11" class="Fila">
        <span class="casilla numero-palabra"></span>
        <div class="casilla">
          <input type="text" id="49" class="11" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="50" class="11" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="51" class="11" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="52" class="11" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="53" class="11" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="54" class="11" maxlength="1" />
        </div>
      </div>
      <div id="Fila_12" class="Fila">
        <span class="casilla numero-palabra">4</span>
        <div class="casilla">
          <input type="text" id="55" lass="12" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="56" class="12" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="57" class="12" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="58" class="12" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="59" class="12" maxlength="1" />
        </div>
        <div class="casilla">
          <input type="text" id="60" class="12" maxlength="1" />
        </div>
      </div>
    </form>
    <div class="Der">
      <form>
        <p class="texto">Pistas</p>
        <p>1. Familia en escocia.</p>
        <p>2. Tristeza y dolor por algo.</p>
        <p>3. Termino algo definitivamente.</p>
        <p>4. El que torea.</p>

        <p class="texto">Instrucciones</p>
        <p style="text-align: justify; margin-right: 20px">
          Identifique la primera palabra y la última de cada bloque con las
          pistas que se dan. A continuación, trate de descubirir las palabras
          intermedias. Para lograrlo, cambie una letra de la primera palabra
          para obtener la próxima y, después altere el orden de una o varias
          letras para encontrar la siguiente. Siga así, sucesivamente, hasta que
          logra completar ambos casilleros. Todas las palabras intermedias deben
          tener significado.
        </p>
      </form>

      <div id="botones">
        <button type="submit" id="submit" onclick="getData()">Comprobar</button>
        <input type="reset" value="Resetear" onclick="reseteo()" />

      </br>
      </br>

        <button onclick="cargarCookies()">Cargar partida</button>
        <button id="cookies" onclick="eliminarCookies()">Borrar Partida</button>

        <div class="ayuda">  <p class="texto" onclick="ayuda()">Ayuda</p> 
            <p id="Pista1"  class ="Pista">Pista 1: </p> <p id="Pista1" class ="Pista"></p>
            <p id="Pista2" class ="Pista">Pista 2: </p>  <p id="Pista2" class ="Pista"> </p>
            <p id="Pista3" class ="Pista">Pista 3:</p>  <p id="Pista3" class ="Pista"></p>
        </div>
      </div>
    </div>

   

    <div id="cajacookies">
      <p>Éste sitio web usa cookies, quieres permitir su uso?</p>
      <button onclick="aceptarCookies()" class="pull-right">
        <i class="fa fa-times"></i> Aceptar y cerrar éste mensaje
      </button>
    </div>
    <footer>
      <label class="bottom-right">Tiempo:  </label>
      <div id="reloj" class="bottom-right"></div>
    </footer>
    <script src="/js/main.js" async></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
