html {
  font-family: sans-serif;
  font-size: 16px;
  word-spacing: 1px;

  box-sizing: border-box;
  background-color: #daf7a6;

  width: 100%;
  height: 100%;
}
header {
  padding: 15px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
 top:0;
}

#reloj {
  font-size: 20px;
  color: #434343;
  right: 20px;
}

.bottom-right {
  position: fixed;
  bottom: 5px;
  right: 100px;
  color: #434343;
  font-size: 20px;
}
.numero-palabra {
  background-color: #daf7a6 !important;
  border: none !important;
  text-align: center !important;
  font-size: 30px;
  height: 80px;
  width: 74px;
}

#tablero {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 700px;
  height: 700px;
  display: table;
}

#Fila_1 {
  height: auto;
}
.casilla {
  display: table-cell;
  height: 58px;
  width: 103px;
  background-color: #87a05a;
  border: 1px solid #000;
  text-align: center;
  vertical-align: middle;
}
.Fila {
  display: table-row;
}

.Izq {
  width: 50%;
  height: 100%;
  margin: auto;
  float: left;
}
.Der {
  width: 40%;
  height: 100%;
  margin: auto;
  float: right;
}
.texto {
  text-decoration: underline;
  font-size: 20px;
}

#botones {
  margin: 10px;
  float: left;
}

input[type="text"] {
  height: 58px;
  width: 103px;
  background-color: #87a05a;
  font-size: 30px;
  text-align: center;
  border: none;
  text-transform: uppercase;
}

input[type="reset"],
button {
  cursor: pointer;
  text-decoration: none;
  margin-right: 50px;
  padding: 10px;
  border: groove 5px #87a05a;
  border-radius: 2em;
}

button:hover,
input:hover {
  text-shadow: 0 1px 1px #87a05a;
}

footer {
  min-width: 900px;
  min-height: 25px;
  bottom: 0;
}

#cajacookies {
  box-shadow: 0px 0px 5px 5px #808080;
  background-color: white;
  color: black;
  padding: 10px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0px;
  z-index: 1;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#cajacookies button {
  color: black;
  float: right;
}

.ayuda {
  cursor: pointer;
}

.Pista {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20;
  float: left;
}

li {
  display: inline;
  float: left;
  padding-left: 10px;
 
  
}


#wrapper {
  width: 100%;
  height: 400px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  margin: 5px;
}
a:hover, a:focus {
  color: black
}

a:link, a:visited, a:active {
  text-decoration:none;
}
#lista1 {
  font-family:Arial;
  font-weight:bold;
  font-size:33px;
  margin-left: 300px;
  align-items: center;
}

#lista1 li {
   display:inline-block;
   padding-left:3px;
   padding-right:3px;
   align-items: center;
}
a {
  color:white;
  text-decoration:none;
}

